* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-header {
  width: 80px;
}
.navbar-custom {
  background-color: white;
}
.nav-links {
  margin-left: 30px;
  color: black;
}
#donate-button {
  background-color: orange;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
}
.nav-links:hover {
  border-bottom: 2px solid black;
}
.carousel {
  height: 500px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-list {
  display: flex;
  justify-content: space-evenly;
}

.footer-social {
  padding-left: 20px;
  color: gray;
  font-size: small;
}
.footer-social:hover {
  color: black;
}
.footer-copyright {
  font-size: small;
  padding-left: 20px;
}

.footer-top-img {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  text-align: left;
}
.footer-address {
  text-align: center;
  border-top: 0.5px solid gray;
}
.footer-address-bottom {
  text-align: left;
  margin-left: 100px;
  line-height: 0.2;
}
.footer-address-bottom p {
  font-size: small;
}
.about-us-header {
  background-color: #0281b8;
  padding: 5px;
  text-align: center;
  color: white;
  margin: 3rem 0;
}
.about-us-content {
  margin-top: 50px;
}
.about-us-content p {
  text-align: justify;
}
.header {
  border-bottom: 0.5px solid gray;
}
.project-subtitle {
  background-color: orange;
  color: white;
  margin-bottom: 30px;
}
.project-content {
  line-height: 2.5;
  text-align: justify;
}

.medical-aid-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.medical-aid-images img {
  width: 400px;
  margin: 20px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
}
.contact-items {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
}
.address {
  margin-top: 10%;
  text-align: center;
}
.address-title {
  color: orange;
  font-weight: 800;
}
.donation-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.our-mission-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
.our-mission-list div img {
  width: 150px;
  height: 130px;
}
.our-mission-list div p {
  margin-top: 15px;
  color: black;
}

.project-ongoing-pic {
  height: 300px;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    text-align: left;
    color: white !important;
    border-bottom: none;
  }
  #donate-button {
    background-color: orange;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    width: fit-content;
  }
  .header-social {
    display: inline-flex;
    justify-content: left;
  }
  .project-content {
    line-height: 2;
    text-align: justify;
  }
  .project-ongoing-pic {
    height: 200px;
    width: 100%;
  }
  .project-images {
    height: 30vw;
    width: 25vh;
  }
  .header-menu {
    background-color: blue;
    float: right;
    width: fit-content;
    padding: 10px;
    z-index: 1000;
    position: absolute;
    left:45%;
    top:90%
  }
  #collasible-nav-dropdown{
    color: white !important;
    border: none !important;
    
  }
  .nav-links:hover{
    border-bottom: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    text-align: left;
    border-bottom: none;
  }
  #donate-button {
    background-color: orange;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    width: fit-content;
  }
  .header-social {
    display: inline-flex;
    justify-content: space-evenly;
    color: gray;
  }
  .project-content {
    line-height: 2;
    text-align: justify;
  }
  .project-ongoing-pic {
    height: 200px;
    width: 100%;
  }
  .project-images {
    height: 30vw;
    width: 25vh;
  }
  .header-menu {
    background-color: blue;
    float: right;
    width: fit-content;
    padding: 20px;
    z-index: 1000;
    position: absolute;
    left:70%
  }
  .nav-links {
    text-align: left;
    color: white !important;
  }
  .nav-links:hover{
    border-bottom: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer-social {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: gray;
    font-size: small;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    text-align: left;
  }
  #donate-button {
    background-color: orange;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    width: fit-content;
  }
  .header-social {
    display: inline-flex;
    justify-content: space-evenly;
    color: gray;
  }
  .project-images {
    height: 30vw;
    width: 25vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-links {
    font-size: 12px;
  }
  .our-mission-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .our-mission-list div img {
    width: 180px;
    height: 150px;
  }
  .profile-card {
    width: 150px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
